<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ip vulnerabilities</title>
</head>
<body>
<h3><span>{{ obj_v.ip1_id }}</span>.<span>{{ obj_v.ip2_id }}</span>.<span>{{ obj_v.ip3_id }}</span>.
    <span>{{ obj_v.ip4_id }}</span> IP Address Vulnerabilities</h3>
    <p> Total Vulnerabilities : {{ obj_v.total_v_nbr }}</p>
    <p> Critical Vulnerabilities nbr: {{ obj_v.critical_v_nbr }}</p>
    <p> High Vulnerabilities nbr: {{ obj_v.high_v_nbr }}</p>
    <p> Medium Vulnerabilities nbr : {{ obj_v.medium_v_nbr }} </p>
    <p> Low Vulnerabilities nbr : {{ obj_v.low_v_nbr }} </p>
    <p> Informations : {{ obj_v.info_v_nbr }} </p>
    <p> Risk : </p>
 <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

 <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
 {#     var options = {#}
 {#  tooltips: {#}
 {#    enabled: false#}
 {#  },#}
 {#  plugins: {#}
 {#    datalabels: {#}
 {#      formatter: (value, ctx) => {#}
 {#        let datasets = ctx.chart.data.datasets;#}
 {#        if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {#}
 {#          let sum = datasets[0].data.reduce((a, b) => a + b, 0);#}
 {#          let percentage = Math.round((value / sum) * 100) + '%';#}
 {#          return percentage;#}
 {#        } else {#}
 {#          return percentage;#}
 {#        }#}
 {#      },#}
 {#      color: '#fff',#}
 {#    }#}
 {#  }#}
 {#;#}
 {#add } before#}
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels|safe}},
                datasets: [{
                    data: {{data|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Vulnerabilities Graph',
                    {#options#}
                },
                legend: {
                    disblay: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }
            }
        });

    </script>
    {% for i in obj_risk %}
        <div class="row">
        <p> {{ i }}</p>
        </div>
    {% endfor %}
</body>
</html>