<!DOCTYPE html>
<html lang="en">
<head>
{#    <meta charset="UTF-8">#}
{#    <title>Search Ip</title>#}
{#    <form action="ipaddress" method="get">#}
{#        <label for="ipaddress">Search Ip Address: </label>#}
{#        <input id="ipaddress" type="text" name="ipaddress" value="{{ ip_address }}">#}
{#    <input type="submit" value="OK">#}
{#</form>#}


<form method = "GET" action="/iplist/ip_vulnerabilities/{{  }}">
{#    {% csrf_token %}#}
    {{ form }}
    <input type = "submit" value = "Submit">
</form>
</head>
<body>

</body>
</html>